.logo{
    display: block;
    margin: auto;
    width: 100px;
    height: 70px;

}

.container{
    max-width: 955px;
    /* background-color: rgb(167, 21, 220); */
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}
.message{
    background-color: rgb(154, 137, 116); 
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid rgb(40, 2, 2);
    border-radius: 10px;

}
.left{
    float: left;
    clear:both;

}
.right{
    float: right;
    clear:both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px  ;
}
body{
    background-image: linear-gradient(rgb(150, 54, 190),#800080);
    height: 100vh; 
   
}
  